<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html role="main" lang="es-mx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OurPlace&reg; :: @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Resources/css/Menu.css" rel="stylesheet" />
    <link href="~/Content/Resources/css/UserMenu.css" rel="stylesheet" />
    <link href="~/Content/Resources/css/jquery-te-1.4.0.css" rel="stylesheet" />

    @Styles.Render("~/bundles/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        <div class="pull-right" style="padding-top:5px; padding-bottom:5px; padding-right:20px; font-size:20px">
            @Html.ActionLink("Entrar", "Login", "Login")
        </div>
    </div>

    <div class="navbar myNavbar">
        <div class="navbar-header">
            <img class="left-logo-blanco" src="~/Content/img/logo_blanco.png" alt="logo" />
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav menu-items">
                <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Características", "Caracteristicas", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Precios", "Precios", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Preguntas Frecuentes", "FAQ", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Contáctanos", "Contacto", "Home", new { area = "" }, null)</li>
            </ul>
        </div>
    </div>

    <div id="ContentOnePage">
        @RenderBody()
        <footer class="myFooter" style="padding-left:10px">
            <p>&copy; @DateTime.Now.Year - OurPlace Conozca nuestro <span style="text-decoration:underline">@Html.ActionLink("Aviso de Privacidad", "AvisoPrivacidad", "Home", new { area = "" }, null)</span></p>
        </footer>
    </div>

    <script src="~/Content/Datatable/js/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Content/Datatable/js/jquery.dataTables.min.js"></script>

    <!--Boton personalizado en la tabla-->
    <script src="~/Content/Datatable/js/dataTables.buttons.min.js"></script>

    <script src="~/Content/Resources/js/jquery-te-1.4.0.min.js"></script>
    <script src="~/Content/Bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap-modal.js"></script>
    <script src="~/Content/Resources/js/accounting.js"></script>

    <script src="~/Content/Bootstrap/js/bootstrap.js"></script>

    <!--Exportación a excel y PDF-->
    <script src="~/Content/Resources/js/dataTables.tableTools.js"></script>
    <script src="~/Content/Resources/js/drag-drop.js"></script>
    <script src="~/Content/Resources/js/html2canvas.js"></script>
    <script src="~/Content/Resources/js/jquery-te-1.4.0.min.js"></script>
    <script src="~/Content/Resources/js/jquery.base64.js"></script>
    <script src="~/Content/Resources/js/tableExport.js"></script>
    <script src="~/Content/Resources/js/jspdf/jspdf.js"></script>
    <script src="~/Content/Resources/js/table2excel.js"></script>

    <link rel='stylesheet' href='~/Content/Resources/assets/js/fullcalendar/bootstrap-fullcalendar.css' />
    <script src='~/Content/Resources/assets/js/fullcalendar/fullcalendar.min.js'></script>

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    </body>
</html>
<script>
    function AdicionarLoading(ModalName) {
        if (ModalName == null || ModalName == "") {
            document.getElementById("Modal").innerHTML = '<div style="text-align:center;"> <img src="../Content/img/loading2.gif" style="width:30px; height:31px;"/> </div>';
        } else {
            document.getElementById(ModalName).innerHTML = '<div style="text-align:center;"> <img src="../Content/img/loading2.gif" style="width:30px; height:31px;"/> </div>';
        }
    }
</script>