@model ADESCOMBUSINESS.Areas.Configuracion.Models.TVI_Direcciones
@{
    ViewBag.Title = "Editar Residencia";
    Layout = null;
}
@using (Ajax.BeginForm("Editar", "CatResidencias", new AjaxOptions { OnBegin = "AdicionarLoading()", UpdateTargetId = "Modal" }))
{
    @Html.ValidationSummary(true)
    <div style="width: 100%;">
        @if (ViewBag.Error != "" && ViewBag.Error != null && ViewBag.Error != "OK")
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                @ViewBag.Error
            </div>
        }
        else
        {
            if (ViewBag.Error == "OK")
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Operacion Completada Con exito!
                </div>
                <script>
                    OcultarModal();
                    MostarModalSuccess();
                </script>
            }
        }
        <fieldset>@Html.HiddenFor(model => model.Direccion_ID)</fieldset>
        <fieldset>@Html.HiddenFor(model => model.Llave1_ID)</fieldset>
        <fieldset>@Html.HiddenFor(model => model.Llave2_ID)</fieldset>
        <fieldset>@Html.HiddenFor(model => model.Llave3_ID)</fieldset>
        <fieldset>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CiaDireccion_ID, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CiaDireccion_ID, new { @class = "form-control ", @id = "CiaDireccion_ID", @readonly = "true" })
                </div>
                <div class="col-md-2">
                    <label class="control-label">@ViewBag.DescLlave1</label>
                </div>
                <div class="col-md-4">
                    <input type="text" name="Llave1_Desc" value="@ViewBag.Llave1_ID" class="form-control" , readonly="true">
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">@ViewBag.DescLlave2</label>
                </div>
                <div class="col-md-4">
                    <input type="text" name="Llave2_Desc" value="@ViewBag.Llave2_ID" class="form-control" , readonly="true">
                </div>
                <div class="col-md-2">
                    <label class="control-label">@ViewBag.DescLlave3</label>
                </div>
                <div class="col-md-4">
                    <input type="text" name="Llave3_Desc" value="@ViewBag.Llave3_ID" class="form-control" , readonly="true">
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DIR_Referencia, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.DIR_Referencia, new { @class = "form-control ", @id = "DIR_Referencia" })
                    @Html.ValidationMessageFor(model => model.DIR_Referencia)
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DIR_CasaSola, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.CheckBoxFor(model => model.DIR_CasaSola, new { @id = "DIR_CasaSola" })
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BS_Activo, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.CheckBoxFor(model => model.BS_Activo, new { @id = "BS_Activo" })
                </div>
            </div><br />
        </fieldset>
        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" data-dismiss="modal"></button>
            <button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button>
        </div>
    </div>
}