@model List<ADESCOMBUSINESS.Areas.Votaciones.Models.VwVOT_Votaciones>
@{
    ViewBag.Title = "Registro de Votaciones";
    Layout = null;
}
<script>localStorage['pageLength'] = 10;</script>
<table id="Lista" class="table table-advance table-hover table-bordered">
    <thead style="background-color:#2e2e37; color:white">
    <th>ID</th>
    <th>Título</th>
    <th>Inicia</th>
    <th>Cierra</th>
    <th>Estatus</th>
    <th>Acciones</th>
    </thead>
    <tbody id="DataContent">
        @foreach (ADESCOMBUSINESS.Areas.Votaciones.Models.VwVOT_Votaciones OBJVOT_Votaciones in Model)
        {
            <tr onclick="SelectRow(@OBJVOT_Votaciones.Votacion_ID, this)">
                <td>@Html.DisplayFor(m => OBJVOT_Votaciones.CiaVotacion_ID)</td>
                <td>@Html.DisplayFor(m => OBJVOT_Votaciones.VOT_Titulo)</td>
                <td>@Html.DisplayFor(m => OBJVOT_Votaciones.VOT_Inicio)</td>
                <td>@Html.DisplayFor(m => OBJVOT_Votaciones.VOT_Fin)</td>
                <td>@Html.DisplayFor(m => OBJVOT_Votaciones.VOT_Estatus)</td>
                <td>
                    @Ajax.ActionLink(" ", "Editar", new { Votacion_ID = @OBJVOT_Votaciones.Votacion_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "AdicionarLoading('ContentOnePage');", OnFailure = "MostrarError", UpdateTargetId = "ContentOnePage" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-pencil", @title = "Configurar Votacion" })
                    @Ajax.ActionLink("Ver Resultados", "Resultados", new { Votacion_ID = @OBJVOT_Votaciones.Votacion_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Resultados de la Votación')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-primary btn-xs", @value = "Test", @text = "Other", @title = "Resultados de la Votación" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal-footer" style="text-align:left; background-color:#f5f5f5 ">
	<div class="row">
		<div class="pull-left" style="padding:0px 0px 0px 10px;">
			@Ajax.ActionLink(" ", "Crear", null, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Crear')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-plus", @title = "Crear" })
		</div>
		<div class="pull-right" style="padding:0px 10px 0px 0px;">
			@ADESCOM.Helpers.AjaxExtensions.GetHml(Ajax.ActionLink("Exportar a Excel", " ", " ", null, new AjaxOptions { HttpMethod = "get", OnBegin = "var table = $('#Lista').DataTable(); ExportarExcel(table)" }, new { @class = "btn btn-sm btn-success", @title = "Exportar a Excel" }).ToString())
		</div>
	</div>
</div>

<script>
    $(document).ready(function () {
        $('#Lista').dataTable(
    {
        "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
        "pageLength": localStorage['pageLength'],
        "language": {
            "emptyTable": "No hay registros",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
            "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
            "lengthMenu": "Mostrar _MENU_ Registros",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Filtrar:",
            "zeroRecords": "No se encontraron registros coincidentes",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
    }
    );
    });
</script>
<script>
    function SelectRow(id, element) {
        $(element).addClass('Select').siblings().removeClass('Select');
    }
</script>