@model ADESCOMBUSINESS.Areas.Votaciones.Models.PreguntaCompuesta
@{
    ViewBag.Title = "Editar";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="control-label">Informacion de la Votación</label>
            </div>
            <div id="RefreshDataSoli" class="panel-body">
                @using (Ajax.BeginForm("EditarPregunta", "Preguntas", new AjaxOptions { OnBegin = "AdicionarLoading('Modal')", UpdateTargetId = "Modal" }))
                {

                    @Html.ValidationSummary(true)
                    <div style="width: 100%;">
                        @if (ViewBag.Error != "" && ViewBag.Error != null && ViewBag.Error != "OK")
                        {
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                @ViewBag.Error
                            </div>
                        }
                        else
                        {
                            if (ViewBag.Error == "OK")
                            {
                                <!--<div class="alert alert-success" role="alert">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    Operacion Completada Con exito!
                                </div>-->
                                <script>
                                    RefreshButon1.click();
                                </script>
                            }
                        }
                        @if (ViewBag.ErrorEdicion != "" && ViewBag.ErrorEdicion != null && ViewBag.ErrorEdicion != "OK")
                        {
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                @ViewBag.ErrorEdicion
                            </div>
                        }
                        else
                        {
                            if (ViewBag.ErrorEdicion == "OK")
                            {
                                <script>
                                    OcultarModal();
                                    RefreshButon1.click();
                                </script>
                            }
                        }
                        <div id="mostar">
                            <fieldset>
                                @Html.HiddenFor(model => model.Pregunta.Votacion_ID)
                                @Html.HiddenFor(model => model.Pregunta.Pregunta_ID)
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model.Pregunta.PRE_Pregunta, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Pregunta.PRE_Pregunta, new { @class = "form-control ", @id = "PRE_Pregunta" })
                                        @Html.ValidationMessageFor(model => model.Pregunta.PRE_Pregunta)
                                    </div>
                                </div>
                                <br />
                            </fieldset>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <label class="control-label">Configuración de Respuestas</label>
                                </div>
                                <div id="RefreshData2" class="panel-body">
                                    <table id="Lista" class="table table-advance table-hover table-bordered">
                                        <thead style="background-color:#2e2e37; color:white">
                                        <th>ID</th>
                                        <th>Respuesta</th>
                                        <th>Acciones</th>
                                        </thead>
                                        <tbody id="DataContent2">
                                            @foreach (ADESCOMBUSINESS.Areas.Votaciones.Models.VwVOT_OpcRespuestas OBJVOT_OpcRespuestas in Model.Respuestas)
                                            {
                                                <tr onclick="SelectRow(@OBJVOT_OpcRespuestas.Respuesta_ID, this)">
                                                    <td>@Html.DisplayFor(m => OBJVOT_OpcRespuestas.CiaRespuesta_ID)</td>
                                                    <td>@Html.DisplayFor(m => OBJVOT_OpcRespuestas.RES_OpcRespuesta)</td>
                                                    <td>
                                                        @Ajax.ActionLink(" ", "EditarRespuesta", "OpcRespuestas", new { Respuesta_ID = @OBJVOT_OpcRespuestas.Respuesta_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial2('Editar Respuesta')", OnFailure = "MostrarErrorModal2", UpdateTargetId = "Modal2" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-pencil" })
                                                        @Ajax.ActionLink(" ", "EliminarRespuesta", "OpcRespuestas", new { Respuesta_ID = @OBJVOT_OpcRespuestas.Respuesta_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial2('Eliminar Respuesta')", OnFailure = "MostrarErrorModal2", UpdateTargetId = "Modal2" }, new { @class = "btn btn-danger btn-xs glyphicon glyphicon-trash" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="modal-footer" style="text-align:left; background-color:#f5f5f5 ">
                                        @Ajax.ActionLink(" ", "CrearRespuesta", "OpcRespuestas", new { Votacion_ID = Model.Pregunta.Votacion_ID, Pregunta_ID = Model.Pregunta.Pregunta_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial2('Agregar Respuesta')", OnFailure = "MostrarErrorModal2", UpdateTargetId = "Modal2" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-plus", @title = "Crear" })
                                        @Ajax.ActionLink(" ", "RefreshRespuestasPregunta", new { Votacion_ID = Model.Pregunta.Votacion_ID, Pregunta_ID = Model.Pregunta.Pregunta_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "RefreshData2();", OnFailure = "MostrarErrorModal2", UpdateTargetId = "RefreshData2" }, new { @class = "btn btn-primary btn-xs glyphicon glyphicon-refresh", @id = "RefreshButton2", @title = "Refrescar" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger glyphicon glyphicon-remove" data-dismiss="modal"></button>
                                <button type="submit" class="btn btn-success glyphicon glyphicon-ok" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</div>
<script>
    $(".date").datepicker({ dateFormat: "yy-mm-dd" }).val();
</script>
