@model ADESCOMBUSINESS.Areas.Votaciones.Models.VOT_OpcRespuestas
@{
    ViewBag.Title = "Crear";
    Layout = null;
}
@using (Ajax.BeginForm("CrearRespuesta", "OpcRespuestas", new AjaxOptions { OnBegin = "AdicionarLoading('Modal2')", UpdateTargetId = "Modal2" }))
{
    @Html.ValidationSummary(true)
    <div style="width: 100%;">
        @if (ViewBag.Error != "" && ViewBag.Error != null && ViewBag.Error != "OK")
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                @ViewBag.Error
            </div>
        }
        else
        {
            if (ViewBag.Error == "OK")
            {
                <!--<div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Operacion Completada Con exito!
                </div>-->
                <script>
                    OcultarModal2();
                    RefreshButton2.click();
                </script>
            }
        }
        <div id="mostar">
            <fieldset>
                <input type="hidden" value="@ViewBag.Votacion_ID" id="Votacion_ID" name="Votacion_ID" />
                <input type="hidden" value="@ViewBag.Pregunta_ID" id="Pregunta_ID" name="Pregunta_ID" />
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.RES_OpcRespuesta, new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RES_OpcRespuesta, new { @class = "form-control ", @id = "RES_OpcRespuesta" })
                        @Html.ValidationMessageFor(model => model.RES_OpcRespuesta)
                    </div>
                </div>
                <br />
            </fieldset>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger glyphicon glyphicon-remove" data-dismiss="modal"></button>
                <button type="submit" class="btn btn-success glyphicon glyphicon-ok" />
            </div>
        </div>
    </div>
}

<script>
    $(".date").datepicker({ dateFormat: "yy-mm-dd" }).val();
</script>
