@model List<ADESCOMBUSINESS.Areas.Contabilidad.Models.VwCON_ConceptosContables>
@{
    ViewBag.Title = "Lista CON_ConceptosContables ";
    Layout = null;
}

<table id="Lista" class="table table-advance table-hover table-bordered">
    <thead style="background-color:#2e2e37; color:white">
    <th>ID</th>
    <th>Descripcion</th>
    <th>Tipo Movimiento</th>
    <th>Anulable</th>
    <th>Activo</th>
    <th>Acciones</th>
    </thead>
    <tbody id="DataContent">
        @foreach (ADESCOMBUSINESS.Areas.Contabilidad.Models.VwCON_ConceptosContables OBJCON_ConceptosContables in Model)
        {
            <tr onclick="SelectRow(@OBJCON_ConceptosContables.ConceptoContable_ID, this)">
                <td>@Html.DisplayFor(m => OBJCON_ConceptosContables.CiaConceptoContable_ID)</td>
                <td>@Html.DisplayFor(m => OBJCON_ConceptosContables.CCO_Descripcion)</td>
                <td>@Html.DisplayFor(m => OBJCON_ConceptosContables.CCO_TipoMovimiento)</td>
                <td>@Html.DisplayFor(m => OBJCON_ConceptosContables.CCO_StsAnulable)</td>
                <td>@Html.DisplayFor(m => OBJCON_ConceptosContables.BS_Activo)</td>
                <td>
                    @Ajax.ActionLink(" ", "Detalle", new { ConceptoContable_ID = @OBJCON_ConceptosContables.ConceptoContable_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Detalle  CON_ConceptosContables')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-search", @title = "Detalle" })
                    @Ajax.ActionLink(" ", "Editar", new { ConceptoContable_ID = @OBJCON_ConceptosContables.ConceptoContable_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Editar CON_ConceptosContables')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-primary btn-xs glyphicon glyphicon-pencil", @title = "Editar" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal-footer" style="text-align:left; background-color:#f5f5f5 ">
	<div class="row">
		<div class="pull-left" style="padding:0px 0px 0px 10px;">
			@Ajax.ActionLink(" ", "Crear", null, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Crear')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-plus", @title = "Crear" })
			@Ajax.ActionLink(" ", "RefreshData", null, new AjaxOptions { HttpMethod = "get", OnBegin = "var table = $('#Lista').DataTable();var info = table.page.info();  localStorage['pageLength'] = info.length;  RefreshData();", OnFailure = "MostrarError", UpdateTargetId = "RefreshData" }, new { @class = "btn btn-primary btn-xs glyphicon glyphicon-refresh", @id = "RefreshButon", @title = "Refrescar" })
		</div>
		<div class="pull-right" style="padding:0px 10px 0px 0px;">
			@ADESCOM.Helpers.AjaxExtensions.GetHml(Ajax.ActionLink("Exportar a Excel", " ", " ", null, new AjaxOptions { HttpMethod = "get", OnBegin = "var table = $('#Lista').DataTable(); ExportarExcel(table)" }, new { @class = "btn btn-sm btn-success", @title = "Exportar a Excel" }).ToString())
		</div>
	</div>
</div>

<script>
    $(document).ready(function () {
        $('#Lista').dataTable(
    {
        "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
        "pageLength": localStorage['pageLength'],
        "language": {
            "emptyTable": "No hay datos disponibles en la tabla",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
            "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
            "lengthMenu": "Mostrar _MENU_ Registros",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Filtrar:",
            "zeroRecords": "No se encontraron registros coincidentes",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
    }
    );
    });
</script>
<script>
    function SelectRow(id, element) {
        $(element).addClass('Select').siblings().removeClass('Select');
    }
</script>

