@model ADESCOMBUSINESS.DataAccess.Models.LoginRQ
@{
    Layout = null;
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>OurPlace&reg; :: ForgotPassword</title>
<script src="~/Content/Datatable/js/jquery-1.11.3.min.js"></script>

<link href="~/Content/Resources/assets/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Resources/assets/css/style-responsive.css" rel="stylesheet" />
<link href="~/Content/Resources/css/jquery-te-1.4.0.css" rel="stylesheet" />
<link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
@Styles.Render("~/bundles/Login/css")

@Styles.Render("~/bundles/themes/base/css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/bundles/Login/css")

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="account-wall">
                    <img class="profile-img" src="/Content/Img/logo.png" alt="">
                    <form class="form-signin">
                        <div class="form-group">
                            <input type="email" value="@ViewBag.Email" class="form-control" placeholder="Ingrese su email" id="email" name="usrEmail"/>
                        </div>
                        <div class="form-group">
                            <label class="text-danger">@ViewBag.MessageError</label>
                        </div>
                        <div class="form-group">
                            <label class="text-success">@ViewBag.Success</label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-md btn-primary btn-block" type="submit">Recuperar Contraseña</button>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Regresar", "Login")
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
