@model ADESCOMBUSINESS.Areas.Contabilidad.Models.VwCON_TransfCtas
@{
    ViewBag.Title = "Crear";
    Layout = null;
}
@using (Ajax.BeginForm("Crear", "TransfCtas", new AjaxOptions { OnBegin = "AdicionarLoading()", UpdateTargetId = "Modal" }))
{
    <div style="width: 100%;">
        @if (ViewBag.Error != "" && ViewBag.Error != null && ViewBag.Error != "OK")
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                @ViewBag.Error
            </div>
        }
        else
        {
            if (ViewBag.Error == "OK")
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Operacion Completada Con exito!
                </div>
                <script>
                    OcultarModal();
                    MostarModalSuccess();
                </script>
            }
        }
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="control-label">Detalles de la Transferencia</label>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.TRF_Mensaje, new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.TRF_Mensaje, new { @class = "form-control ", id = "TRF_Mensaje" })
                        @Html.ValidationMessageFor(model => model.TRF_Mensaje)
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.TRF_Referencia, new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.TRF_Referencia, new { @class = "form-control ", id = "TRF_Referencia" })
                        @Html.ValidationMessageFor(model => model.TRF_Referencia)
                    </div>
                    <div class="col-md-1"></div>
                </div> <br />
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.TRF_Monto, new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.TRF_Monto, new { @class = "form-control ", id = "TRF_Monto" })
                        @Html.ValidationMessageFor(model => model.TRF_Monto)
                    </div>
                    <div class="col-md-1"></div>
                </div> <br />
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="control-label">Cuenta Origen</label>
                </div>
                <br />
                <div class="row ">
                    <div class="col-md-2">
                        <label class="control-label">Cuenta Origen</label>
                        @Html.HiddenFor(model => Model.CuentaOri_ID, new { @id = "CuentaOri_ID", @name = "CuentaOri_ID" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.CTAOrigen_Alias, new { @class = "form-control ", @name = "CTAOrigen_Alias", @id = "CTAOrigen_Alias", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.CuentaOri_ID)
                    </div>
                    <div class="col-md-1">
                        @Ajax.ActionLink(" ", "SearchList", "Cuentas", new { CtasCliente = false, CtasEmpresa = true, CtasCreditos = false }, new AjaxOptions { HttpMethod = "get", OnBegin = "setTexbox2(); MostarVistaParcial2('Cuentas'); ", OnFailure = "MostrarErrorModal2", UpdateTargetId = "Modal2" }, new { @class = "btn btn btn-primary glyphicon glyphicon-search", @title = "Cuentas" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Banco</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="CTAOri_Banco" id="CTAOri_Banco" readonly="readonly" />
                    </div>
                    <div class="col-md-1"></div>
                </div><br />
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label">Nro. Cuenta</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="CTAOri_NumCta" id="CTAOri_NumCta" readonly="readonly" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label class="control-label">Saldo</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="CTAOri_Saldo" id="CTAOri_Saldo" readonly="readonly" />
                    </div>
                    <div class="col-md-1"></div>
                </div> <br />
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="control-label">Cuenta Destino</label>
                </div>
                <br />
                <div class="row ">
                    <div class="col-md-2">
                        <label class="control-label">Cuenta Destgen</label>
                        @Html.HiddenFor(model => Model.CuentaDest_ID, new { @id = "CuentaDest_ID", @name = "CuentaDest_ID" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.CTADestino_Alias, new { @class = "form-control ", @name = "CTADestino_Alias", @id = "CTADestino_Alias", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.CuentaDest_ID)
                    </div>
                    <div class="col-md-1">
                        @Ajax.ActionLink(" ", "SearchList", "Cuentas", new { CtasCliente = false, CtasEmpresa = true, CtasCreditos = false }, new AjaxOptions { HttpMethod = "get", OnBegin = "setTexbox3(); MostarVistaParcial2('Cuentas'); ", OnFailure = "MostrarErrorModal2", UpdateTargetId = "Modal2" }, new { @class = "btn btn btn-primary glyphicon glyphicon-search", @title = "Cuentas" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Banco</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="CTADest_Banco" id="CTADest_Banco" readonly="readonly" />
                    </div>
                    <div class="col-md-1"></div>
                </div><br />
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label">Nro. Cuenta</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="CTADest_NumCta" id="CTADest_NumCta" readonly="readonly" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label class="control-label">Saldo</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="CTADest_Saldo" id="CTADest_Saldo" readonly="readonly" />
                    </div>
                    <div class="col-md-1"></div>
                </div> <br />
            </div>
        </fieldset>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" data-dismiss="modal"></button>
            <button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button>
        </div>
    </div>
}
<script>
    function setTexbox2() {
        $TxtCuenta_ID = "CuentaOri_ID";
        $TxtCTA_Alias = "CTAOrigen_Alias";
        $TxtCTA_Banco = "CTAOri_Banco";
        $TxtCTA_NumCuenta = "CTAOri_NumCta";
        $TxtCTA_Saldo = "CTAOri_Saldo";
    }
    function setTexbox3() {
        $TxtCuenta_ID = "CuentaDest_ID";
        $TxtCTA_Alias = "CTADestino_Alias";
        $TxtCTA_Banco = "CTADest_Banco";
        $TxtCTA_NumCuenta = "CTADest_NumCta";
        $TxtCTA_Saldo = "CTADest_Saldo";
    }
</script>