@model ADESCOMBUSINESS.Areas.Contabilidad.Models.CON_Cuentas
@{
    ViewBag.Title = "Crear";
    Layout = null;
}
@using (Ajax.BeginForm("Crear", "Cuentas", new AjaxOptions { OnBegin = "AdicionarLoading('Modal')", UpdateTargetId = "Modal" }))
{
    @Html.ValidationSummary(true)
    <div style="width: 100%;">
        @if (ViewBag.Error != "" && ViewBag.Error != null && ViewBag.Error != "OK")
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                @ViewBag.Error
            </div>
        }
        else
        {
            if (ViewBag.Error == "OK")
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Operacion Completada Con exito!
                </div>
                <script>
                    OcultarModal();
                    MostarModalSuccess();
                </script>
            }
        }
        <fieldset>
            <div class="row">
                @Html.HiddenFor(model => model.CTA_Origen_ID)
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CTA_Alias, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CTA_Alias, new { @class = "form-control ", @id = "CTA_Alias" })
                    @Html.ValidationMessageFor(model => model.CTA_Alias)
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CTA_Titular, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CTA_Titular, new { @class = "form-control ", @id = "CTA_Titular" })
                    @Html.ValidationMessageFor(model => model.CTA_Titular)
                </div>
            </div> <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CTA_Banco, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CTA_Banco, new { @class = "form-control ", @id = "CTA_Banco" })
                    @Html.ValidationMessageFor(model => model.CTA_Banco)
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CTA_NumSucursal, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CTA_NumSucursal, new { @class = "form-control ", @id = "CTA_NumSucursal" })
                    @Html.ValidationMessageFor(model => model.CTA_NumSucursal)
                </div>
            </div> <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CTA_NumCuenta, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CTA_NumCuenta, new { @class = "form-control ", @id = "CTA_NumCuenta" })
                    @Html.ValidationMessageFor(model => model.CTA_NumCuenta)
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CTA_Clabe, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CTA_Clabe, new { @class = "form-control ", @id = "CTA_Clabe" })
                    @Html.ValidationMessageFor(model => model.CTA_Clabe)
                </div>
             </div> <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CTA_Saldo, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CTA_Saldo, new { @class = "form-control ", @id = "CTA_Saldo", @disabled = "true" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CTA_Email, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CTA_Email, new { @class = "form-control ", @id = "CTA_Email" })
                </div>
            </div> <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BS_Activo, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.CheckBoxFor(model => model.BS_Activo, new { @class = "form-control ", @id = "BS_Activo" })
                    @Html.ValidationMessageFor(model => model.BS_Activo)
                </div>
            </div> <br />
        </fieldset>
        <br />
        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" data-dismiss="modal"></button>
            <button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button>
        </div>
    </div>
}

