@model List<ADESCOMBUSINESS.Areas.Ingresos.Models.VwING_PagosRealizados>
@{
    ViewBag.Title = "Autorización de Pagos";
    Layout = null;
}
<script>localStorage['pageLength'] = 10;</script>
<table id="Lista" class="table table-advance table-hover table-bordered">
    <thead style="background-color:#2e2e37; color:white">
    <th>ID</th>
    <th>Fecha Pago</th>
    <th>Residencia</th>
    <th>Monto</th>
    <th>Referencia</th>
    <th>Acciones</th>
    </thead>
    <tbody id="DataContent">
        @foreach (ADESCOMBUSINESS.Areas.Ingresos.Models.VwING_PagosRealizados OBJING_PagosRealizados in Model)
        {
            <tr onclick="SelectRow(@OBJING_PagosRealizados.PagoRealizado_ID, this)">
                <td>@Html.DisplayFor(m => OBJING_PagosRealizados.CiaPagoRealizado_ID)</td>
                <td>@Html.DisplayFor(m => OBJING_PagosRealizados.PRE_FechaCreacion)</td>
                <td>@Html.DisplayFor(m => OBJING_PagosRealizados.DIR_Descripcion)</td>
                <td>@Html.DisplayFor(m => OBJING_PagosRealizados.PRE_Monto)</td>
                <td>@Html.DisplayFor(m => OBJING_PagosRealizados.PRE_Referencia)</td>
                <td>
                    @Ajax.ActionLink(" ", "VerComprobante", new { Comprobante = @OBJING_PagosRealizados.PRE_Comprobante }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Ver Comprobante')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-primary btn-xs glyphicon glyphicon-zoom-in", @title = "Ver" })
                    @Ajax.ActionLink(" ", "Autorizar", new { PagoRealizado_ID = @OBJING_PagosRealizados.PagoRealizado_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Autorizar Pago')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-ok", @title = "Autorizar" })
                    @Ajax.ActionLink(" ", "Rechazar", new { PagoRealizado_ID = @OBJING_PagosRealizados.PagoRealizado_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Rechazar Pago')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-danger btn-xs glyphicon glyphicon-remove", @title = "Rechazar" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal-footer" style="text-align:left; background-color:#f5f5f5 ">
	<div class="row">
		<div class="pull-left" style="padding:0px 0px 0px 10px;">
			@Ajax.ActionLink(" ", "RefreshData", null, new AjaxOptions { HttpMethod = "get", OnBegin = "var table = $('#Lista').DataTable();var info = table.page.info();  localStorage['pageLength'] = info.length;  RefreshData();", OnFailure = "MostrarError", UpdateTargetId = "RefreshData" }, new { @class = "btn btn-primary btn-xs glyphicon glyphicon-refresh", @id = "RefreshButon", @title = "Refrescar" })
		</div>
		<div class="pull-right" style="padding:0px 10px 0px 0px;">
			@ADESCOM.Helpers.AjaxExtensions.GetHml(Ajax.ActionLink("Exportar a Excel", " ", " ", null, new AjaxOptions { HttpMethod = "get", OnBegin = "var table = $('#Lista').DataTable(); ExportarExcel(table)" }, new { @class = "btn btn-sm btn-success", @title = "Exportar a Excel" }).ToString())
		</div>
	</div>
</div>		
<script>
    $(document).ready(function () {
        $('#Lista').dataTable(
    {
        "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
        "pageLength": localStorage['pageLength'],
        "language": {
            "emptyTable": "No hay registros",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
            "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
            "lengthMenu": "Mostrar _MENU_ Registros",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Filtrar:",
            "zeroRecords": "No se encontraron registros coincidentes",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
    }
    );
    });
</script>
<script>
    function SelectRow(id, element) {
        $(element).addClass('Select').siblings().removeClass('Select');
    }
</script>
