@model List<ADESCOMBUSINESS.Areas.Contabilidad.Models.VwCON_MovContables>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<table id="SearchData" class="table table-advance table-hover table-bordered  ">
    <thead style="background-color: #2e2e37; color: white">
    <th>ID</th>
    <th>Fecha</th>
    <th>Cuenta</th>
    <th>Usuario</th>
    <th>Concepto</th>
    <th>Observaciones</th>
    <th>Monto</th>
    <th>Activo</th>
    <th>Cerrado</th>
    <th>Acc</th>
    </thead>
    <tbody id="DataContent" class="row form-panel">
        @foreach (ADESCOMBUSINESS.Areas.Contabilidad.Models.VwCON_MovContables OBJVwCON_MovContables in Model)
        {
            <tr onclick="SelectRow(@OBJVwCON_MovContables.MovContable_ID , this)">
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.CiaMovContable_ID)</td>
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.MCO_Fecha)</td>
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.CTA_Alias)</td>
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.UsuarioCreo)</td>
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.CCO_Descripcion)</td>
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.MCO_Mensaje)</td>
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.MCO_Monto)</td>
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.BS_Activo)</td>
                <td>@Html.DisplayFor(m => OBJVwCON_MovContables.MovCerrado)</td>
                <td>
                    @Ajax.ActionLink(" ", "Detalle", new { MovContable_ID = @OBJVwCON_MovContables.MovContable_ID }, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Detalle Cargo/Credito')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-search", @title = "Detalle" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal-footer" style="text-align:left; background-color:#f5f5f5 ">
	<div class="row">
		<div class="pull-left" style="padding:0px 0px 0px 10px;">
			@Ajax.ActionLink(" ", "Crear", null, new AjaxOptions { HttpMethod = "get", OnBegin = "MostarVistaParcial('Crear')", OnFailure = "MostrarErrorModal", UpdateTargetId = "Modal" }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-plus", @title = "Crear" })
			@Ajax.ActionLink(" ", "RefreshData", null, new AjaxOptions { HttpMethod = "get", OnBegin = "var table = $('#Lista').DataTable();var info = table.page.info();  localStorage['pageLength'] = info.length;  RefreshData();", OnFailure = "MostrarError", UpdateTargetId = "RefreshData" }, new { @class = "btn btn-primary btn-xs glyphicon glyphicon-refresh", @id = "RefreshButon", @title = "Refrescar" })
		</div>
		<div class="pull-right" style="padding:0px 10px 0px 0px;">
			@ADESCOM.Helpers.AjaxExtensions.GetHml(Ajax.ActionLink("Exportar a Excel", " ", " ", null, new AjaxOptions { HttpMethod = "get", OnBegin = "var table = $('#Lista').DataTable(); ExportarExcel(table)" }, new { @class = "btn btn-sm btn-success", @title = "Exportar a Excel" }).ToString())
		</div>
	</div>
</div>

<script>
function SelectRow(id, element) {
    $(element).addClass('Select').siblings().removeClass('Select');
}

$(document).ready(function () {
    $('#SearchData').dataTable(
{
    "order": [[ 0, "desc" ]],
    "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
    "pageLength": localStorage['pageLength'],
    "language": {
        "emptyTable": "No hay datos disponibles en la tabla",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
        "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
        "lengthMenu": "Mostrar _MENU_ Registros",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Filtrar:",
        "zeroRecords": "No se encontraron registros coincidentes",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }
}
);
});
</script>
