@if (ViewBag.Error != "" && ViewBag.Error != null && ViewBag.Error != "OK")
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        @ViewBag.Error
    </div>
}
else
{
    if (ViewBag.Error == "OK")
    {
        <input hidden id="NombArc" value="@ViewBag.NombreArchivo" />
        <input hidden id="SavedImg" value="@ViewBag.Imagen_ID" />
        <input hidden id="ArcSize" value="@ViewBag.ArchivoSize" />
        <input hidden id="ArcType" value="@ViewBag.ArchivoType" />
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Operacion Completada Con exito!
            <script>
                OcultarModal2();
            </script>
        </div>

    }
}

<script>
    function OK()
    {
        var elmFileName = document.getElementById($TxtFileName);
        var elmFileID = document.getElementById($TxtFileID);

        var elmFileSize = document.getElementById($TxtFileSize);
        var elmFileType = document.getElementById($TxtFileType);

        elmFileID.value = document.getElementById("SavedImg").value;
        elmFileName.value = document.getElementById("NombArc").value;

        elmFileSize.value = document.getElementById("ArcSize").value;
        elmFileType.value = document.getElementById("ArcType").value;

        var elmImage = document.getElementById($ImgImage);
        elmImage.src = document.getElementById("SavedImg").value;
    }

    OK();
</script>